<!DOCTYPE html>
<html ng-app="app">
<head>


<title>Head Coach</title>

 <meta charset="utf-8">
    <title>MEAN FOOTBALL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

     <script src="angular.js"> </script>
     <script src="angular-ui-router.js"></script>

     <script src="startpageController.js"></script>
    <link rel="stylesheet" href="playerSelect.css">
</head>
<body ng-controller="startCtrl">

<h1>Select Players</h1>


<table>
  <th>Name</th>
  <th>Pos</th>
  <th>College</th>
  <th>Str</th>
  <th>Con</th>
  <th>Dex</th>
  <th>Int</th>
  <th>Wis</th>
  <th>Cha</th>

  <tr  ng-repeat="player in players">
  <td>{{player.name}}</td>
  <td>{{player.position}}</td>
  <td>{{player.college}}</td>
  <td>{{player.Str}}</td>
  <td>{{player.Con}}</td>
  <td>{{player.Dex}}</td>
  <td>{{player.Int}}</td>
  <td>{{player.Wis}}</td>
  <td>{{player.Cha}}</td>

  <td> <button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button></td>

  <td><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-plus" ng-click="button1()" aria-hidden="true"></span>
  </button></td>

  </tr>
</table>


<div class="currentTeam">
<h2>Current Team </h2>

  <table class="newTeam">

      <th>Name</th>
      <th>Pos</th>
      <th>College</th>
      <th>Str</th>
      <th>Con</th>
      <th>Dex</th>
      <th>Int</th>
      <th>Wis</th>
      <th>Cha</th>

      <tr ng-repeat = "player in newteam">

        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td>{{player.college}}</td>
        <td>{{player.Str}}</td>
        <td>{{player.Con}}</td>
        <td>{{player.Dex}}</td>
        <td>{{player.Int}}</td>
        <td>{{player.Wis}}</td>
        <td>{{player.Cha}}</td>

      </tr>

  </table>

</div>




</body>
</html>
